.q-node{
    color: white;
    background-color: gray;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
}
.m-node{
    color: white;
    background-color: #333;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}